<accountConfiguration>
  <SendGrid Username="azure_ba2f7b93b4f26882da37376572c604b5@azure.com" Password="17OoGEfSztrsFni" />
  <HessBenefitsCenter BaseURI="https://www.benefitsweb.com/benefitsweb/html/" CompanyCode="183" />
  <PayPal URL="https://api-3t.paypal.com/nvp" VERSION="94.0" USER="nicholasceliano_api1.yahoo.com" PWD="EALZ7C386KMMDS43" SIGNATURE="AJSXgqDTxJetOTgJn2PAwoNaEZpnAJDcmFzvW5l1is6qIzP4LnmAbwzj" />
  <TDAmeritrade BaseURI="https://invest.ameritrade.com/" 
                Question1="What street did your best friend in high school live on? (Enter full name of street only.)" Answer1="fernwood" 
                Question2="In what city was your high school? (Enter full name of city only.)" Answer2="cba" 
                Question3="What is your mother's middle name?" Answer3="marie" 
                Question4="What was your high school mascot?" Answer4="colt" />
  <Plaid BaseURI="https://api.plaid.com/" CLIENTID="536af937aab3192b237a6999" SECRET="X_eY_reDJxVURoGD5bgYsa" />
</accountConfiguration>