<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="FinanceMonitorEntities" connectionString="metadata=res://*/FinanceMonitor.csdl|res://*/FinanceMonitor.ssdl|res://*/FinanceMonitor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kqhe0vv11x.database.windows.net;initial catalog=FinanceMonitor;persist security info=True;user id=FinMonitor_WebAccess;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>