<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="appConfiguration" type="FinanceMonitor.Config.AppConfiguration, FinanceMonitor.Config" />
    <section name="accountConfiguration" type="FinanceMonitor.Config.AccountConfiguration, FinanceMonitor.Config" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FinanceMonitor.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <accountConfiguration configSource="App_Data\accountConfiguration.config" />
  <appSettings configSource="App_Data\appsettings.config" />
  <connectionStrings configSource="App_Data\dataConfiguration.config" />
  <appConfiguration configSource="App_Data\appConfiguration.config" />
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="On" />
    <httpRuntime targetFramework="4.5" />
    <!--<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>-->
  </system.web>
  <system.webServer>
    <httpErrors defaultPath="/">
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/default.html" responseMode="ExecuteURL" />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
