<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinanceMonitorEntities" connectionString="metadata=res://*/FinanceMonitor.csdl|res://*/FinanceMonitor.ssdl|res://*/FinanceMonitor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kqhe0vv11x.database.windows.net;initial catalog=FinanceMonitor;persist security info=True;user id=FinMonitor_WebAccess;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>