<?xml version="1.0" encoding="utf-8" ?>
<appConfiguration>
  <SqlLoginPassword>
		<add _configurationName="Staging" value="Green2013" />
		<add _configurationName="Production" value="" />
	</SqlLoginPassword>
  <SqlConnectionStringName>
		<add _configurationName="Staging" value="FinanceMonitorEntities" />
		<add _configurationName="Production" value="" />
	</SqlConnectionStringName>
  <EncryptionKey>
    <add _configurationName="Staging" value="keyValue" />
    <add _configurationName="Production" value="" />
  </EncryptionKey>
  <Timezone>
    <add _configurationName="Staging" value="Eastern Standard Time" />
    <add _configurationName="Production" value="" />
  </Timezone>
  <AdminEmail>
    <add _configurationName="Staging" value="nicholasceliano@yahoo.com" />
    <add _configurationName="Production" value="" />
  </AdminEmail>
</appConfiguration>
